.wrapper {  

  margin-top: 25px;
  margin-left: 100px;
}
body{
  background-color: rgb(215, 248, 248);
}
.name {
  color: red;
}
.title {
  margin-left: 150px;
  margin-bottom: 50px;
}
img{
  height: 263px;
  margin-left: 170px
  
}
.contact{
  display: flex;
}


.content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

}